<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/header.css') }}">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" class="logo">
          <ul class="barItem">

            <li><a href="/">HOME</a></li>
            <li><a href="/boats">BOATS</a></li>
            <li><a href="/create">CREATE</a></li>
            <li><a href="/delete">DELETE</a></li>
          </ul>
        </div>

        <div class="formSection barItem">
          <form class="barItem" id="boatForm" method="post">
            <input type="text" id="boatId" name="uid" value="" placeholder="Boat ID" required>
            <input type="submit" name="BoatSearch" value="Search">
        </form>
        
        <script>
            document.getElementById("boatForm").addEventListener("submit", function(event) {
                var boatId = document.getElementById("boatId").value;
                if (boatId.trim() !== "") {
                    var actionUrl = "/boats/results/" + boatId;
                    this.action = actionUrl;
                    this.submit();
                } else {
                    alert("Error")
                }
            });
        </script>

        </div>

      </div>
    </header>

    {% block body %}
    {% endblock %}
    
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">A very cool looking footer!</h1>

        <h2>Contact</h2>

        <address>
          5534 Somewhere In. The World 22193-10212<br>

          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>

            <li>
              <a href="#">Print</a>
            </li>

            <li>
              <a href="#">Alternative Ads</a>
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Technology</h2>

          <ul class="nav__ul nav__ul--extra">
            <li>
              <a href="#">Hardware Design</a>
            </li>

            <li>
              <a href="#">Software Design</a>
            </li>

            <li>
              <a href="#">Digital Signage</a>
            </li>

            <li>
              <a href="#">Automation</a>
            </li>

            <li>
              <a href="#">Artificial Intelligence</a>
            </li>

            <li>
              <a href="#">IoT</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>

        <div class="legal__links">
          <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div>
      </div>
    </footer>

  </body>
</html>