.barItem{
  display: inline-block;
}

.logo {
  width: 45px;
}

li {
  float: left;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}

.topBar{
  background-color: #faf9f7;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
}

.formSection {
  padding: 10px;
  right: 0;
}

.input, .barItem input{
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.mainDiv {
  margin: auto;
  width: 30%;

}

h1{
  text-align: center;
}

a{
  text-decoration:none;
  color:black;
}

body {
  margin-top: 0px;
}